@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&display=swap');
@mixin overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191622;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}